.registration-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }

  .label-container {
    display: block;
    margin-bottom: 5px; /* Add space below label */
  }
  
  .credit-payment {
    margin-top: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .delete-button {
    background-color: red;
    width: 25%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .delete-button:hover {
    background-color: darkred;
  }

  .add-button {

    margin-left: auto;
    margin-right: auto;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  